/* Buttons
   ========================================================================== */
@use "variables" as vars;
// General
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 0.875em;
  font-family: vars.$font-family-base;
  font-weight: 700;
  background-color: vars.$primary;
  color: vars.$white;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: vars.$primary;
  text-decoration: none !important;
  border-radius: 5px;
  &:visited {
    color: vars.$white;
    border-color: vars.$primary;
  }
  &:hover {
    background-color: vars.$white;
    color: vars.$primary;
    border-color: vars.$primary;
  }
}

// Success button
.btn-success {
  background-color: vars.$success;
  color: vars.$white;
  border-color: vars.$success;
  &:visited {
    color: vars.$white;
    border-color: vars.$success;
  }
  &:hover {
    background-color: vars.$white;
    color: vars.$success;
    border-color: vars.$success;
  }
}

// Warning button
.btn-warning {
  background-color: vars.$warning;
  color: vars.$white;
  border-color: vars.$warning;
  &:visited {
    color: vars.$white;
    border-color: vars.$warning;
  }
  &:hover {
    background-color: vars.$white;
    color: vars.$warning;
    border-color: vars.$warning;
  }
}

// Danger button
.btn-danger {
  background-color: vars.$danger;
  color: vars.$white;
  border-color: vars.$danger;
  &:visited {
    color: vars.$white;
    border-color: vars.$danger;
  }
  &:hover {
    background-color: vars.$white;
    color: vars.$danger;
    border-color: vars.$danger;
  }
}

// Information button
.btn-info {
  background-color: vars.$info;
  color: vars.$white;
  border-color: vars.$info;
  &:visited {
    border-color: vars.$info;
    color: vars.$white;
  }
  &:hover {
    background-color: vars.$white;
    color: vars.$info;
    border-color: vars.$info;
  }
}
